body {
    background-color: gray;
}

#container {
    color:rgb(164, 201, 237);
    font-size: 20px;
    display: grid;
    place-items: center;
}

#msk {
    text-decoration: none;
    color: rgb(223, 223, 223);
}

#msk:hover {
    text-decoration: underline;
    cursor: pointer;
}

div {
    text-align: center;
}